{% extends "index.html" %}
{% load static %}
{% block title %} Checkout Payment - Secure Payment {% endblock %} 
{% block content %}
        <!-- BEGIN #checkout-payment -->
        <div class="section-container" id="checkout-payment">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN checkout -->
                <div class="checkout">
                    <form action="{% url "orders:checkout_payment" %}" method="POST" name="form_payment" class="form-horizontal">
                        {% csrf_token %}
                        <!-- BEGIN checkout-header -->
                        <div class="checkout-header">
                            <!-- BEGIN row -->
                            <div class="row">
                                <!-- BEGIN col-3 -->
                                <div class="col-md-3 col-sm-3">
                                    <div class="step completed">
                                        <a href="{% url 'orders:cart' %}">
                                            <div class="number"><i class="fa fa-check"></i></div>
                                            <div class="info">
                                                <div class="title">Shopping Cart</div>
                                                <div class="desc">Review your items</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- END col-3 -->
                                <!-- BEGIN col-3 -->
                                <div class="col-md-3 col-sm-3">
                                    <div class="step completed">
                                        <a href="{% url "orders:checkout_info" %}">
                                            <div class="number"><i class="fa fa-check"></i></div>
                                            <div class="info">
                                                <div class="title">Shipping Address</div>
                                                <div class="desc">Enter delivery details</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- END col-3 -->
                                <!-- BEGIN col-3 -->
                                <div class="col-md-3 col-sm-3">
                                    <div class="step active">
                                        <a href="#">
                                            <div class="number">3</div>
                                            <div class="info">
                                                <div class="title">Payment</div>
                                                <div class="desc">Secure payment processing</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- END col-3 -->
                                <!-- BEGIN col-3 -->
                                <div class="col-md-3 col-sm-3">
                                    <div class="step">
                                        <a href="#">
                                            <div class="number">4</div>
                                            <div class="info">
                                                <div class="title">Order Complete</div>
                                                <div class="desc">Confirmation</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- END col-3 -->
                            </div>
                            <!-- END row -->
                        </div>
                        <!-- END checkout-header -->
                        <!-- BEGIN checkout-body -->
                        <div class="checkout-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <h4 class="checkout-title">Review Your Order</h4>
                                    
                                    <div class="alert alert-info">
                                        <i class="fa fa-info-circle"></i> Click "Continue to Payment" to proceed to our secure payment page.
                                    </div>
                                    
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">Cart Items ({{ cart.items.count }})</h4>
                                        </div>
                                        <div class="panel-body">
                                            {% for item in cart.items.all %}
                                            <div class="row m-b-15{% if not forloop.last %} p-b-15" style="border-bottom: 1px solid #eee;"{% else %}"{% endif %}>
                                                <div class="col-xs-8">
                                                    <strong>{{ item.product.name }}</strong><br>
                                                    <small class="text-muted">Quantity: {{ item.quantity }} × ${{ item.product.price }}</small>
                                                </div>
                                                <div class="col-xs-4 text-right">
                                                    <strong>${{ item.subtotal }}</strong>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <h4 class="checkout-title">Order Summary</h4>
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="row m-b-10">
                                                <div class="col-xs-6"><strong>Subtotal:</strong></div>
                                                <div class="col-xs-6 text-right">${{ subtotal }}</div>
                                            </div>
                                            <div class="row m-b-10">
                                                <div class="col-xs-6"><strong>Shipping:</strong></div>
                                                <div class="col-xs-6 text-right">${{ shipping_cost }}</div>
                                            </div>
                                            <div class="row m-b-10">
                                                <div class="col-xs-6"><strong>Tax:</strong></div>
                                                <div class="col-xs-6 text-right">${{ tax }}</div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-xs-6"><h4><strong>Total:</strong></h4></div>
                                                <div class="col-xs-6 text-right"><h4 class="text-primary"><strong>${{ total }}</strong></h4></div>
                                            </div>
                                            
                                            <hr>
                                            <h5 class="m-t-15 m-b-10"><strong>Shipping To:</strong></h5>
                                            <p class="m-b-0">
                                                {{ checkout_data.full_name }}<br>
                                                {{ checkout_data.address }}<br>
                                                {{ checkout_data.city }}, {{ checkout_data.state }} {{ checkout_data.postal_code }}<br>
                                                {{ checkout_data.country }}
                                            </p>
                                            
                                            <hr>
                                            <div class="text-center">
                                                <i class="fa fa-lock fa-2x text-success"></i>
                                                <p class="text-muted m-t-10"><small>Secure payment with Stripe</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END checkout-body -->
                        <!-- BEGIN checkout-footer -->
                        <div class="checkout-footer">
                            <a href="{% url 'orders:checkout_info' %}" class="btn btn-white btn-lg pull-left">
                                <i class="fa fa-arrow-left"></i> Back to Shipping
                            </a>
                            <button type="submit" id="submit-payment" class="btn btn-inverse btn-lg p-l-30 p-r-30 m-l-10">
                                <i class="fa fa-credit-card"></i> Continue to Payment
                            </button>
                        </div>
                        <!-- END checkout-footer -->
                    </form>
                </div>
                <!-- END checkout -->
                
                <h4 class="checkout-title m-t-30 m-b-15">Payment Frequently Asked Questions</h4>
                <!-- BEGIN checkout-question-list -->
                <div class="row checkout-question-list" id="checkout-faq">
                    <!-- BEGIN col-6 -->
                    <div class="col-md-6">
                        <div class="clearfix">
                            <div class="question">
                                <a href="#checkout-faq-1" class="collapsed" data-toggle="collapse" data-parent="#checkout-faq">
                                    <span class="dash">-</span> Is my Credit Card / Debit Card details protected?
                                </a>   
                            </div>
                            <div class="answer collapse in" id="checkout-faq-1">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit, felis vel tincidunt sodales, urna metus rutrum leo, sit amet finibus velit ante nec lacus. Cras erat nunc, pulvinar nec leo at, rhoncus elementum orci. Nullam ut sapien ultricies, gravida ante ut, ultrices nunc.
                            </div> 
                        </div>
                        <div class="clearfix m-t-10">
                            <div class="question">
                                <a href="#checkout-faq-2" class="collapsed" data-toggle="collapse" data-parent="#checkout-faq">
                                    <span class="dash">-</span> Can I use a Debit Card to make payment??
                                </a>   
                            </div>
                            <div class="answer collapse in" id="checkout-faq-2">
                                Curabitur vitae venenatis odio, eget molestie mauris. Nullam vitae turpis at mi consequat rutrum quis quis mi. Vestibulum imperdiet neque non libero condimentum, quis sodales magna molestie. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
                            </div> 
                        </div>
                        <div class="clearfix m-t-10">
                            <div class="question">
                                <a href="#checkout-faq-3" class="collapsed" data-toggle="collapse" data-parent="#checkout-faq">
                                    <span class="dash">-</span> Credit Card/Debit Card transaction keep failing. Why?
                                </a>   
                            </div>
                            <div class="answer collapse in" id="checkout-faq-3">
                                Cras malesuada mi quis purus pharetra egestas. Curabitur auctor sapien est, eu porttitor velit ornare in. Fusce porta suscipit diam at placerat. Donec lobortis iaculis accumsan. Ut semper felis vel nisi aliquam facilisis.
                            </div> 
                        </div>
                    </div>
                    <!-- END col-6 -->
                    <!-- BEGIN col-6 -->
                    <div class="col-md-6">
                        <div class="clearfix">
                            <div class="question">
                                <a href="#checkout-faq-4" class="collapsed" data-toggle="collapse" data-parent="#checkout-faq">
                                    <span class="dash">-</span> Did not receive the Pin Code on my mobile?
                                </a>   
                            </div>
                            <div class="answer collapse in" id="checkout-faq-4">
                                Duis gravida sem eu arcu efficitur, laoreet egestas nibh posuere. Pellentesque suscipit tincidunt porttitor. Aliquam vitae massa vel justo lobortis posuere. Nulla tempor enim at auctor dignissim. Aenean sit amet venenatis odio.
                            </div> 
                        </div>
                        <div class="clearfix m-t-10">
                            <div class="question">
                                <a href="#checkout-faq-5" class="collapsed" data-toggle="collapse" data-parent="#checkout-faq">
                                    <span class="dash">-</span> My credit card has been charged, but my order shows failed?
                                </a>   
                            </div>
                            <div class="answer collapse in" id="checkout-faq-5">
                                Nunc consectetur tellus libero, at tempor dolor scelerisque id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc feugiat ligula vitae tincidunt sagittis. Etiam congue ligula purus, ut fringilla ante interdum eu.
                            </div> 
                        </div>
                    </div>
                    <!-- END col-6 -->
                </div>
                <!-- END checkout-question-list -->
            </div>
            <!-- END container -->
        </div>
        <!-- END #checkout-payment -->
    
        <!-- BEGIN #policy -->
        <div id="policy" class="section-container p-t-30 p-b-30 bg-white">
            <!-- BEGIN container -->
            <div class="container">
                <!-- BEGIN row -->
                <div class="row">
                    <!-- BEGIN col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <!-- BEGIN policy -->
                        <div class="policy">
                            <div class="policy-icon"><i class="fa fa-truck"></i></div>
                            <div class="policy-info">
                                <h4>Free Delivery Over $100</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                        <!-- END policy -->
                    </div>
                    <!-- END col-4 -->
                    <!-- BEGIN col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <!-- BEGIN policy -->
                        <div class="policy">
                            <div class="policy-icon"><i class="fa fa-shield"></i></div>
                            <div class="policy-info">
                                <h4>1 Year Warranty For Phones</h4>
                                <p>Cras laoreet urna id dui malesuada gravida. <br />Duis a lobortis dui.</p>
                            </div>
                        </div>
                        <!-- END policy -->
                    </div>
                    <!-- END col-4 -->
                    <!-- BEGIN col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <!-- BEGIN policy -->
                        <div class="policy">
                            <div class="policy-icon"><i class="fa fa-user-md"></i></div>
                            <div class="policy-info">
                                <h4>6 Month Warranty For Accessories</h4>
                                <p>Fusce ut euismod orci. Morbi auctor, sapien non eleifend iaculis.</p>
                            </div>
                        </div>
                        <!-- END policy -->
                    </div>
                    <!-- END col-4 -->
                </div>
                <!-- END row -->
            </div>
            <!-- END container -->
        </div>
        <!-- END #policy -->
{% endblock %}

{% block extra_js %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const form = document.querySelector('form[name="form_payment"]');
    const submitButton = document.getElementById('submit-payment');
    
    if (form && submitButton) {
        form.addEventListener('submit', function(e) {
            console.log('Form is being submitted...');
            submitButton.disabled = true;
            submitButton.innerHTML = '<i class="fa fa-spinner fa-spin"></i> Redirecting to payment...';
        });
    }
});
</script>
{% endblock %}